<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sq.ywt">
    <!-- 下载管理 -->
    <uses-permission android:name="android.permission.ACCESS_ALL_DOWNLOADS" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER_ADVANCED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 文件操作 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".YWTApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.HomeFragmentActivity" />
        <activity android:name=".activity.NoticeInfoActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.BussinessManagerActivity" />
        <activity android:name=".activity.FinanceManagerActivity" />
        <activity android:name=".activity.TradeCenterActivity" />
        <activity android:name=".activity.PersonCenterActivity" />
        <activity android:name=".activity.ModifyPwdActivity" />
        <activity android:name=".activity.ModifyInfoActivity" />
        <activity android:name=".activity.MailCenterActivity" />
        <activity android:name=".activity.SendMailActivity" />
        <activity android:name=".activity.MyTeamActivity" />
        <activity android:name=".activity.CustomCardActivity" />
        <activity android:name=".activity.CustomCardHistoryActivity" />
        <activity android:name=".activity.ReCastActivity" />
        <activity android:name=".activity.ReCastHistoryActivity" />
        <activity android:name=".activity.BonusWithdrawActivity" />
        <activity android:name=".activity.BonusHistoryActivity" />
        <activity android:name=".activity.BonusDetailActivity" />
        <activity android:name=".activity.MemberTransferActivity" />
        <activity android:name=".activity.MemberTransferHistoryActivity" />
        <activity android:name=".activity.TradeCreditApplyActivity" />
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>